* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '.roboto-medium', sans-serif; /* Specify Roboto as the font family */
    color: white;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

html,body{
Width:100%;
background-color: rgb(34, 34, 34);
Height:100%;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 20px;
    padding: 30px 20px;
    overflow: hidden;
}

#nav-part2{
    display: flex;
    gap: 40px;
}

#nav h3{
    font-weight:100;
}

#main #main-text{
    position: relative;
    z-index: 2;
    width: 80%;
    height: 400px;
    margin-left: 10%;
}

#main-text h3{
    font-size: 130px;
    font-weight: 100;
    line-height: 130px;
    text-transform: uppercase;
    transition: font-size 1s, font-weight 1s, line-height 1s; /* Transition added */

}

#main-text h3:nth-child(1){
    margin-top: 100px;
}

#main-text h3:nth-child(2){
    text-align: center;
}

#main-text h3:nth-child(3){
    text-align:center;
}

img{
    height: 400px;
    position: absolute;
    top: 10%;
    left: 40%;
}

#img1{
    transform: rotate(15deg);
}

#img2{
    transform: rotate(10deg);
}

a{
    text-decoration: none;
}

#bottom {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    overflow: hidden;
    text-transform: uppercase;
}

#center-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1230px){
    #main-text h3 {
        font-size: 100px;
        font-weight: 100;
        line-height: 100px;
    }

    #bottom {
        position: fixed;
        bottom: 40px; /* Changed bottom position */
        left: 0;
        width: 100%;
        transition: bottom 1s;
    }
}

@media (max-height: 550px){
    #main-text h3{
        font-size: 100px;
        font-weight: 100;
        line-height: 100px;
    }
}

@media (max-width: 1050px){
    #main-text h3 {
        font-size: 80px;
        font-weight: 100;
        line-height: 80px;
    }
}
